# IGDB API
CLIENTID=\\Igdb clientId
TOKEN=\\Igdb token
BASEURL=https://api.igdb.com/v4

# APPLICATION
PORT=3000

## DATABASE
DB_HOST=\\Database Host
DB_PORT=\\Database Port
DB_USERNAME=\\Database Username
DB_PASSWORD=\\Database Password
DB_DATABASE=\\Database Name